[data-rehype-pretty-code-figure] pre {
  @apply px-0;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-loose md:text-base border-0 p-0;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-highlighted-chars] {
  border-radius: 0.25rem;
  background-color: rgba(82, 82, 91, 0.5);
  box-shadow: 0 0 0 4px rgba(82, 82, 91, 0.5);
}

[data-chars-id="s"],
[data-chars-id="v"] {
  --tw-border-opacity: 1;
  font-weight: 700;
  --tw-text-opacity: 1 !important;
}

[data-chars-id="v"] {
  border-bottom-color: rgb(219 39 119 / var(--tw-border-opacity));
  background-color: rgba(159, 18, 57, 0.5);
  color: rgb(249 168 212/ 1) !important;
}

[data-chars-id="s"] {
  border-bottom-color: rgb(202 138 4 / var(--tw-border-opacity));
  background-color: rgba(133, 77, 14, 0.5);
  color: rgb(253 224 71 / 1) !important;
}

[data-chars-id="i"] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(147 51 234 / var(--tw-border-opacity));
  background-color: rgba(107, 33, 168, 0.5);
  font-weight: 700;
  --tw-text-opacity: 1 !important;
  color: rgb(233 213 255/ 1) !important;
}

[data-chars-id] {
  border-bottom-width: 2px;
  padding: 0.25rem;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

.subheading-anchor {
  @apply no-underline hover:underline;
}

figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
  pre {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

[data-rehype-pretty-code-title] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(63 63 70 / var(--tw-bg-opacity));
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(228 228 231 / var(--tw-text-opacity));
}

pre code {
  background: none;
}

:not(pre) > code {
  @apply rounded-md p-1 dark:bg-gray-800 bg-gray-200;
}

::after,
::before {
  /* display none */
  @apply hidden;
}